<!--
	Author: W3layouts
	Author URL: http://w3layouts.com
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Wedding Ceremony a Wedding Category Bootstrap responsive Web Template | Home :: w3layouts</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords"
          content="Wedding Ceremony web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design"
    />
    <script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}

    </script>
    <!--// Meta tag Keywords -->
    <!-- css files -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}" type="text/css" media="all">
    <!-- Bootstrap-Core-CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.css') }}" type="text/css" media="all">
    <!-- Font-Awesome-Icons-CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/lightbox.css') }}" type="text/css" media="all">
    <link href="{{ url_for('static', filename='css/easy-responsive-tabs.css') }}" rel="stylesheet" type="text/css"
          media="all"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css" media="all"/>
    <!-- Style-CSS -->
    <!-- //css files -->
    <!-- web fonts -->
    <link href="{{ url_for('static', filename='//fonts.googleapis.com/css?family=Arizonia&amp;subset=latin-ext') }}"
          rel="stylesheet">
    <link href="{{ url_for('static', filename='//fonts.googleapis.com/css?family=Droid+Sans:400,700') }}"
          rel="stylesheet">
    <!-- //web fonts -->
</head>
<style>
    .stylebutton{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width:100px;
  hight:20px;
    }
</style>
<body>

<!-- about -->
<div class="about_section" id="about">
    <div class="container-fluid">
        <h2 class="wthree_title_agile"><span>O</span>ur <span>S</span>tory</h2>
        <div class="inner_w3l_agile_grids">
            <!-- Bottom to top-->
            <div class="col-md-5 team-grid">
                <!-- normal -->
                <div class="ih-item circle effect10 bottom_to_top">
                    <div class="img">
                        <img src="{{url_for('static', filename='images/a2.png')}}"/>
                    </div>
                </div>
                <!-- end normal -->
                <p>Anh Chung</p>

            </div>

            <div class="col-md-2 team-grid">
                <!-- normal -->
                <div class="info">
                    <h3>Love</h3>
                    <div class="arrow-container animated fadeInDown">
                        <a href="#home" class="arrow-2 scroll">
                            <i class="fa fa-heart-o" aria-hidden="true"></i>
                        </a>
                    </div>
<!--                    <h3>Rosee</h3>-->
                </div>
            </div>
            <div class="col-md-5 team-grid">
                <!-- normal -->
                <div class="ih-item circle effect10 bottom_to_top">
                    <div class="img">
                        <img src="{{url_for('static', filename='images/a1.png')}}"/>
                    </div>
                </div>
                <!-- end normal -->
                <p>Bade</p>
            </div>
<!--            <div class="clearfix"></div>-->
        </div>
    </div>
    <!-- //story -->
</div>
<!-- //about -->
<!-- Modal1 -->
<!-- //Modal1 -->
<!-- Modal2 -->

        <div class="col-md-12 regstr-r-w3-agileits">
            <div class="form-bg-w3ls">
                <h3 class="subhead-agileits white-w3ls">Thiệp Mừng</h3>
                <form action="#11" method="post">
                    <button onclick="submitButtonStyle(this)" type="submit" class="stylebutton">100k </button>
                    <button onclick="submitButtonStyle(this)" type="submit" class="stylebutton">200k </button>
                    <button onclick="submitButtonStyle(this)" type="submit" class="stylebutton">500k </button>
                    <button onclick="submitButtonStyle(this)" type="submit" class="stylebutton">10tr </button>

                    <input type="text" name="Subject" placeholder="Nhập Số Tiền" required="">
                    <textarea name="Message" placeholder="Message" required=""></textarea>
                    <input type="submit" value="Submit" class="button-w3layouts hvr-rectangle-out">
                </form>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- //contact -->
<!-- js -->
<script>function submitButtonStyle(_this) {
  _this.style.backgroundColor = "red";
}</script>
<script type="text/javascript" src="{{ url_for('static', filename = 'js/jquery-2.1.4.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename = 'js/bootstrap.js') }}"></script>
<!-- Necessary-JavaScript-File-For-Bootstrap -->
<!-- //js -->
<!--  light box js -->
<script type="text/javascript" src="{{ url_for('static', filename = 'js/lightbox-plus-jquery.min.js') }}"></script>

<!-- //light box js-->

<!-- video-js -->
<script type="text/javascript" src="{{ url_for('static', filename = 'js/jquery.vide.min.js') }}"></script>

<!-- //video-js -->


<!-- Baneer-js -->
<!--responsive slider-->
<script type="text/javascript" src="{{ url_for('static', filename = 'js/responsiveslides.min.js') }}"></script>

<!--//responsive slider-->

<!--banner Slider starts Here-->
<script>
		// You can also use "$(window).load(function() {"
		$(function () {
			// Slideshow 3
			$("#slider3").responsiveSlides({
				auto: true,
				pager: false,
				nav: true,
				speed: 500,
				namespace: "callbacks",
				before: function () {
					$('.events').append("<li>before event fired.</li>");
				},
				after: function () {
					$('.events').append("<li>after event fired.</li>");
				}
			});

		});
</script>
<!--//End-slider-script-->

<!-- //Baneer-js -->
<!-- search-jQuery -->
<script type="text/javascript" src="{{ url_for('static', filename = 'js/main.js') }}"></script>
<!-- //search-jQuery -->

<!-- required-js-files-->
<link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.css') }}" type="text/css" media="all">
<script type="text/javascript" src="{{ url_for('static', filename = 'js/owl.carousel.js') }}"></script>

<script>
		$(document).ready(function () {
			$("#owl-demo").owlCarousel({
				items: 1,
				itemsDesktop: [768, 4],
				itemsDesktopSmall: [414, 3],
				lazyLoad: true,
				autoPlay: true,
				navigation: true,

				navigationText: false,
				pagination: true,

			});

		});
</script>
<!--//required-js-files-->

<!-- script for responsive tabs -->
<script type="text/javascript" src="{{ url_for('static', filename = 'js/easy-responsive-tabs.js') }}"></script>
<script>
		$(document).ready(function () {
			$('#horizontalTab').easyResponsiveTabs({
				type: 'default', //Types: default, vertical, accordion
				width: 'auto', //auto or any width like 600px
				fit: true, // 100% fit in a container
				closed: 'accordion', // Start closed if in accordion view
				activate: function (event) { // Callback function if tab is switched
					var $tab = $(this);
					var $info = $('#tabInfo');
					var $name = $('span', $info);
					$name.text($tab.text());
					$info.show();
				}
			});
			$('#verticalTab').easyResponsiveTabs({
				type: 'vertical',
				width: 'auto',
				fit: true
			});
		});















</script>
<!-- start-smooth-scrolling -->
<script type="text/javascript" src="{{ url_for('static', filename = 'js/move-top.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename = 'js/easing.js') }}"></script>

<script type="text/javascript">
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();

				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 1000);
			});
		});















</script>
<!-- //end-smooth-scrolling -->
<!-- smooth scrolling -->

<script type="text/javascript" src="{{ url_for('static', filename = 'js/SmoothScroll.min.js') }}"></script>
<!-- //smooth scrolling -->


</body>

</html>